@model IEnumerable<LEVINHHUY_K22CNT1_2210900106.Models.DON_HANG>

@{
    ViewBag.Title = "Index";
}

<h2>Danh Sách Đơn Hàng</h2>

<p>
    @Html.ActionLink("Tạo Đơn Hàng Mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaDH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngay_dat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tong_tien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaDH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KHACH_HANG.Ho_ten) <!-- Hiển thị tên khách hàng -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngay_dat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tong_tien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trang_thai)
            </td>
            <td>
                @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.MaDH }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaDH })
            </td>
        </tr>
    }

</table>
